<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tigaomobile.lockinapp.lockscreen.presentation">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <!--<uses-permission android:name="android.permission.DUMP" />-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <!--<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" android:protectionLevel="signature" />-->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
      android:allowBackup="true"
      android:name="com.tigaomobile.lockinapp.lockscreen.presentation.AndroidApplication"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <activity
        android:name="com.tigaomobile.lockinapp.lockscreen.presentation.view.activity.MainActivity"
        android:label="@string/app_name"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:excludeFromRecents="true"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"
        android:theme="@style/FullscreenTheme"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.tigaomobile.lockinapp.lockscreen.presentation.view.activity.UserListActivity"
        android:label="@string/activity_title_user_list">
    </activity>

    <activity
        android:name="com.tigaomobile.lockinapp.lockscreen.presentation.view.activity.UserDetailsActivity"
        android:label="@string/activity_title_user_details">
    </activity>

    <service
        android:name="com.tigaomobile.lockinapp.device.BootService"
        android:label="LockInApp Boot Service"
        >
      <intent-filter>
        <action android:name="com.tigaomobile.testlock.BootUpService" />
      </intent-filter>
    </service>

    <receiver
        android:name="com.tigaomobile.lockinapp.device.BootReceiver"
        android:enabled="true"
        android:exported="true"
        android:installLocation="internalOnly"
        android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />

        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </receiver>
  </application>

</manifest>
